In [19]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import random
import random

# On fixe la graine
random.seed(42)

In [45]:
data=pd.read_csv("data_seed2.txt", sep="\t", decimal=",")
data.columns = data.columns.str.lower()
data.head()

C:\Users\SOP TECH\AppData\Local\Temp\ipykernel_22504\4112076052.py:1: DtypeWarning: Columns (41,45,46,47,48,49,50,52,53,54,55,61,62,63,64,65,66,67,68,69,70,72,74,77,79,80,84,86,90,93,94,96,98,101,102,103,104,113,115,123,124,125,126) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("data_seed2.txt", sep="\t", decimal=",")

,datdelhis_mm0,numtecprs,sldcrdmms_sum_mm1,engagement_sum_mm1,top_pret_conso_mm1,nbr_pret_conso_mm1,sldcrdmms_sum_mm2,engagement_sum_mm2,top_pret_conso_mm2,nbr_pret_conso_mm2,...,crtad_ag_solde_t1,crtad_ag_solde_t2,encours_par,crtad_ag_nbjde_bb,crtad_ag_nbjde_ba,crtad_ag_nbjde_bc,topcptlitig,somme_encours,cible,rnd_1_20
0,202 410,9 201 003 869,"0,00","800,00","0,00","0,00","0,00","800,00","0,00","0,00",...,"-47 333,00","-13 333,00","0,00","92,00","262,00","5,00",0,"0,00",0,2
1,202 410,9 599 624 616,"1 152,00","200,00","0,00","0,00","1 755,00","200,00","0,00","0,00",...,"-3 333,00","-3 000,00","1 000,00","71,00","321,00","54,00",0,"1 000,00",0,2
2,202 412,1 413 515 491,"87 805,00","6 680,61","1,00","1,00","76 354,00","6 738,46","1,00","1,00",...,"220 333,00","146 666,00","157 084,00","0,00","13,00","0,00",0,"157 084,00",0,2
3,202 404,1 600 773 833,"2 468,00","200,00","0,00","0,00","2 534,00","200,00","0,00","0,00",...,"3 666,00","8 333,00","57 333,00","12,00","17,00","0,00",0,"57 333,00",0,2
4,202 409,2 661 466 041,"513 708,00","1 000,00","0,00","0,00","257 317,00","1 000,00","0,00","0,00",...,"370 333,00","210 666,00","0,00","9,00","247,00","60,00",0,"0,00",0,2

In [42]:
data.engagement_sum_mm1

0            800,00
1            200,00
2          6 680,61
3            200,00
4          1 000,00
            ...
54048      1 000,00
54049      1 100,00
54050     72 385,47
54051    166 205,66
54052     88 714,76
Name: engagement_sum_mm1, Length: 54053, dtype: object

In [46]:
def convert_if_numeric(col):
    if col.dtype == "object":
        # Supprimer tous les espaces, y compris espace insécable
        cleaned = col.str.replace("\u202f", "")
        # Remplacer la virgule décimale par un point
        cleaned = cleaned.str.replace(",", ".")
        # Essayer de convertir en numérique
        numeric_col = pd.to_numeric(cleaned, errors="coerce")
        # Si au moins une valeur numérique existe, on remplace la colonne
        if numeric_col.notna().any():
            return numeric_col
    return col

# Appliquer la fonction à toutes les colonnes
data = data.apply(convert_if_numeric)
data.head()

,datdelhis_mm0,numtecprs,sldcrdmms_sum_mm1,engagement_sum_mm1,top_pret_conso_mm1,nbr_pret_conso_mm1,sldcrdmms_sum_mm2,engagement_sum_mm2,top_pret_conso_mm2,nbr_pret_conso_mm2,...,crtad_ag_solde_t1,crtad_ag_solde_t2,encours_par,crtad_ag_nbjde_bb,crtad_ag_nbjde_ba,crtad_ag_nbjde_bc,topcptlitig,somme_encours,cible,rnd_1_20
0,202410,9201003869,0.0,800.00,0.0,0.0,0.0,800.00,0.0,0.0,...,-47333.0,-13333.0,0.0,92.0,262.0,5.0,0.0,0.0,0,2
1,202410,9599624616,1152.0,200.00,0.0,0.0,1755.0,200.00,0.0,0.0,...,-3333.0,-3000.0,1000.0,71.0,321.0,54.0,0.0,1000.0,0,2
2,202412,1413515491,87805.0,6680.61,1.0,1.0,76354.0,6738.46,1.0,1.0,...,220333.0,146666.0,157084.0,0.0,13.0,0.0,0.0,157084.0,0,2
3,202404,1600773833,2468.0,200.00,0.0,0.0,2534.0,200.00,0.0,0.0,...,3666.0,8333.0,57333.0,12.0,17.0,0.0,0.0,57333.0,0,2
4,202409,2661466041,513708.0,1000.00,0.0,0.0,257317.0,1000.00,0.0,0.0,...,370333.0,210666.0,0.0,9.0,247.0,60.0,0.0,0.0,0,2

In [ ]:
y=data.cible
X=data.drop(y, axis=1)

1000.00

In [ ]:
from sklearn.model_selection import train_test_split

# X = variables explicatives (features)
# y = variable cible (target)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2,       # 20 % des données pour le test
    random_state=42,     # pour reproductibilité (comme set.seed en R)
    shuffle=True         # mélanger les données avant de séparer (par défaut True)
)

In [47]:
data.dtypes

datdelhis_mm0           int64
numtecprs               int64
sldcrdmms_sum_mm1     float64
engagement_sum_mm1    float64
top_pret_conso_mm1    float64
                       ...
crtad_ag_nbjde_bc     float64
topcptlitig           float64
somme_encours         float64
cible                   int64
rnd_1_20                int64
Length: 130, dtype: object

In [13]:
data.dtypes

DATDELHIS_Mm0         object
NUMTECPRS             object
SLDCRDMMS_SUM_Mm1     object
ENGAGEMENT_SUM_Mm1    object
Top_PRET_CONSO_Mm1    object
                       ...
CRTAD_AG_NBJDE_BC     object
TOPCPTLITIG           object
SOMME_ENCOURS         object
cible                  int64
rnd_1_20               int64
Length: 130, dtype: object

In [16]:
data.cible

0        0
1        0
2        0
3        0
4        0
        ..
54048    0
54049    0
54050    0
54051    0
54052    0
Name: cible, Length: 54053, dtype: int64

In [ ]:
data = data.apply(lambda col: col.str.replace(",", ".", regex=False) if col.dtype == "object" else col)

0            800,00
1            200,00
2          6 680,61
3            200,00
4          1 000,00
            ...
54048      1 000,00
54049      1 100,00
54050     72 385,47
54051    166 205,66
54052     88 714,76
Name: ENGAGEMENT_SUM_Mm1, Length: 54053, dtype: object

In [ ]:
data.dtypes