In [5]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt

In [8]:
data=pd.read_csv("data_seed2.txt", sep="\t", decimal=",")
data.head()

C:\Users\SOP TECH\AppData\Local\Temp\ipykernel_22504\523261780.py:1: DtypeWarning: Columns (41,45,46,47,48,49,50,52,53,54,55,61,62,63,64,65,66,67,68,69,70,72,74,77,79,80,84,86,90,93,94,96,98,101,102,103,104,113,115,123,124,125,126) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("data_seed2.txt", sep="\t", decimal=",")

,DATDELHIS_Mm0,NUMTECPRS,SLDCRDMMS_SUM_Mm1,ENGAGEMENT_SUM_Mm1,Top_PRET_CONSO_Mm1,NBR_PRET_CONSO_Mm1,SLDCRDMMS_SUM_Mm2,ENGAGEMENT_SUM_Mm2,Top_PRET_CONSO_Mm2,NBR_PRET_CONSO_Mm2,...,CRTAD_AG_SOLDE_T1,CRTAD_AG_SOLDE_T2,ENCOURS_PAR,CRTAD_AG_NBJDE_BB,CRTAD_AG_NBJDE_BA,CRTAD_AG_NBJDE_BC,TOPCPTLITIG,SOMME_ENCOURS,cible,rnd_1_20
0,202 410,9 201 003 869,"0,00","800,00","0,00","0,00","0,00","800,00","0,00","0,00",...,"-47 333,00","-13 333,00","0,00","92,00","262,00","5,00",0,"0,00",0,2
1,202 410,9 599 624 616,"1 152,00","200,00","0,00","0,00","1 755,00","200,00","0,00","0,00",...,"-3 333,00","-3 000,00","1 000,00","71,00","321,00","54,00",0,"1 000,00",0,2
2,202 412,1 413 515 491,"87 805,00","6 680,61","1,00","1,00","76 354,00","6 738,46","1,00","1,00",...,"220 333,00","146 666,00","157 084,00","0,00","13,00","0,00",0,"157 084,00",0,2
3,202 404,1 600 773 833,"2 468,00","200,00","0,00","0,00","2 534,00","200,00","0,00","0,00",...,"3 666,00","8 333,00","57 333,00","12,00","17,00","0,00",0,"57 333,00",0,2
4,202 409,2 661 466 041,"513 708,00","1 000,00","0,00","0,00","257 317,00","1 000,00","0,00","0,00",...,"370 333,00","210 666,00","0,00","9,00","247,00","60,00",0,"0,00",0,2

In [12]:
data.dtypes.value_counts()

object     116
int64        9
float64      5
Name: count, dtype: int64

In [13]:
data.dtypes

DATDELHIS_Mm0         object
NUMTECPRS             object
SLDCRDMMS_SUM_Mm1     object
ENGAGEMENT_SUM_Mm1    object
Top_PRET_CONSO_Mm1    object
                       ...
CRTAD_AG_NBJDE_BC     object
TOPCPTLITIG           object
SOMME_ENCOURS         object
cible                  int64
rnd_1_20               int64
Length: 130, dtype: object

In [16]:
data.cible

0        0
1        0
2        0
3        0
4        0
        ..
54048    0
54049    0
54050    0
54051    0
54052    0
Name: cible, Length: 54053, dtype: int64