In [101]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import random
import seaborn as sns
import ptitprince as pt

# On fixe la graine
random.seed(42)

In [ ]:
data=pd.read_csv("data_seed2.txt", sep="\t", decimal=",", dtype="object")
data.columns = data.columns.str.lower()
data.head()

,datdelhis_mm0,numtecprs,sldcrdmms_sum_mm1,engagement_sum_mm1,top_pret_conso_mm1,nbr_pret_conso_mm1,sldcrdmms_sum_mm2,engagement_sum_mm2,top_pret_conso_mm2,nbr_pret_conso_mm2,...,crtad_ag_solde_t1,crtad_ag_solde_t2,encours_par,crtad_ag_nbjde_bb,crtad_ag_nbjde_ba,crtad_ag_nbjde_bc,topcptlitig,somme_encours,cible,rnd_1_20
0,202 410,9 201 003 869,"0,00","800,00","0,00","0,00","0,00","800,00","0,00","0,00",...,"-47 333,00","-13 333,00","0,00","92,00","262,00","5,00",0,"0,00",0,2
1,202 410,9 599 624 616,"1 152,00","200,00","0,00","0,00","1 755,00","200,00","0,00","0,00",...,"-3 333,00","-3 000,00","1 000,00","71,00","321,00","54,00",0,"1 000,00",0,2
2,202 412,1 413 515 491,"87 805,00","6 680,61","1,00","1,00","76 354,00","6 738,46","1,00","1,00",...,"220 333,00","146 666,00","157 084,00","0,00","13,00","0,00",0,"157 084,00",0,2
3,202 404,1 600 773 833,"2 468,00","200,00","0,00","0,00","2 534,00","200,00","0,00","0,00",...,"3 666,00","8 333,00","57 333,00","12,00","17,00","0,00",0,"57 333,00",0,2
4,202 409,2 661 466 041,"513 708,00","1 000,00","0,00","0,00","257 317,00","1 000,00","0,00","0,00",...,"370 333,00","210 666,00","0,00","9,00","247,00","60,00",0,"0,00",0,2

In [82]:
data.loc[[345,]]

,datdelhis_mm0,numtecprs,sldcrdmms_sum_mm1,engagement_sum_mm1,top_pret_conso_mm1,nbr_pret_conso_mm1,sldcrdmms_sum_mm2,engagement_sum_mm2,top_pret_conso_mm2,nbr_pret_conso_mm2,...,crtad_ag_solde_t1,crtad_ag_solde_t2,encours_par,crtad_ag_nbjde_bb,crtad_ag_nbjde_ba,crtad_ag_nbjde_bc,topcptlitig,somme_encours,cible,rnd_1_20
345,202 410,5 510 074 447,"14 473,00","117 279,66","0,00","0,00","19 523,00","117 912,64","0,00","0,00",...,?,?,?,?,?,?,?,?,0,2

In [83]:
data.somme_encours.value_counts()

somme_encours
0,00             13668
1 000,00          1647
2 000,00           513
3 000,00           340
4 000,00           213
                 ...
2 354 666,00         1
351 999,00           1
11 705 438,00        1
3 343 000,00         1
10 002,00            1
Name: count, Length: 25094, dtype: int64

In [84]:
any(data.isna().sum())

False

In [86]:
data.dtypes

datdelhis_mm0         object
numtecprs             object
sldcrdmms_sum_mm1     object
engagement_sum_mm1    object
top_pret_conso_mm1    object
                       ...
crtad_ag_nbjde_bc     object
topcptlitig           object
somme_encours         object
cible                 object
rnd_1_20              object
Length: 130, dtype: object

In [87]:
def convert_if_numeric(col):
    if col.dtype == "object":
        # Supprimer tous les espaces, y compris espace insécable
        cleaned = col.str.replace("\u202f", "")
        # Remplacer la virgule décimale par un point
        cleaned = cleaned.str.replace(",", ".")
        # Essayer de convertir en numérique
        numeric_col = pd.to_numeric(cleaned, errors="coerce")
        # Si au moins une valeur numérique existe, on remplace la colonne
        if numeric_col.notna().any():
            return numeric_col
    return col

# Appliquer la fonction à toutes les colonnes
data = data.apply(convert_if_numeric)
data.head()

,datdelhis_mm0,numtecprs,sldcrdmms_sum_mm1,engagement_sum_mm1,top_pret_conso_mm1,nbr_pret_conso_mm1,sldcrdmms_sum_mm2,engagement_sum_mm2,top_pret_conso_mm2,nbr_pret_conso_mm2,...,crtad_ag_solde_t1,crtad_ag_solde_t2,encours_par,crtad_ag_nbjde_bb,crtad_ag_nbjde_ba,crtad_ag_nbjde_bc,topcptlitig,somme_encours,cible,rnd_1_20
0,202410,9201003869,0.0,800.00,0.0,0.0,0.0,800.00,0.0,0.0,...,-47333.0,-13333.0,0.0,92.0,262.0,5.0,0.0,0.0,0,2
1,202410,9599624616,1152.0,200.00,0.0,0.0,1755.0,200.00,0.0,0.0,...,-3333.0,-3000.0,1000.0,71.0,321.0,54.0,0.0,1000.0,0,2
2,202412,1413515491,87805.0,6680.61,1.0,1.0,76354.0,6738.46,1.0,1.0,...,220333.0,146666.0,157084.0,0.0,13.0,0.0,0.0,157084.0,0,2
3,202404,1600773833,2468.0,200.00,0.0,0.0,2534.0,200.00,0.0,0.0,...,3666.0,8333.0,57333.0,12.0,17.0,0.0,0.0,57333.0,0,2
4,202409,2661466041,513708.0,1000.00,0.0,0.0,257317.0,1000.00,0.0,0.0,...,370333.0,210666.0,0.0,9.0,247.0,60.0,0.0,0.0,0,2

In [88]:
data.somme_encours[data.somme_encours.isna()]

345     NaN
1278    NaN
3906    NaN
6304    NaN
7128    NaN
7855    NaN
8607    NaN
9092    NaN
9136    NaN
10510   NaN
10568   NaN
11831   NaN
12762   NaN
13432   NaN
16825   NaN
17771   NaN
18790   NaN
19397   NaN
20057   NaN
20195   NaN
23267   NaN
24788   NaN
25569   NaN
26716   NaN
28265   NaN
29025   NaN
30900   NaN
34166   NaN
36875   NaN
37959   NaN
38729   NaN
41665   NaN
42383   NaN
44016   NaN
44900   NaN
45571   NaN
45623   NaN
46557   NaN
47199   NaN
48298   NaN
Name: somme_encours, dtype: float64

In [105]:
deta=data.isna().sum()
deta[deta==0]

datdelhis_mm0                     0
numtecprs                         0
sum_mensualite_imo                0
montant_sum                       0
top_pret_imo                      0
slddbtmms_sum                     0
slddbtmms_moy                     0
sldcrdmms_sum                     0
sldcrdmms_moy                     0
bilan_sum                         0
horsbilan_sum                     0
engagement_sum                    0
sum_nombre_contrat_imo            0
nbrjjrdvtautcsc_stk               0
decouvert_moy_sum                 0
decouvert_moy_mean                0
ind_dp_max                        0
impaye_sum                        0
depassement_sum                   0
top_pret_conso                    0
nbr_pret_conso                    0
nbrjjr_ss                         0
client_haut_risque                0
mntsldctajjr_max_mm0              0
mntsldctajjr_max_mm1              0
mntsldctajjr_max_mm2              0
codsexprs                         0
ratio_mensu_imo_solde_crd         0
ratio_sldcrdmms_moy_sldbtsum      0
eng_nbr                           0
part_fdc_prio                     0
ratio_mensu_imo_solde_dbtsum      0
ratio_mensu_imo_engagement_sum    0
ratio_mensu_imo_solcrdmoy         0
ratio_mntvirperemi_nbvirperemi    0
top_nbrjjr_ss_mm3_mm0_30p         0
cible                             0
rnd_1_20                          0
dtype: int64

In [90]:
data.dtypes

datdelhis_mm0           int64
numtecprs               int64
sldcrdmms_sum_mm1     float64
engagement_sum_mm1    float64
top_pret_conso_mm1    float64
                       ...
crtad_ag_nbjde_bc     float64
topcptlitig           float64
somme_encours         float64
cible                   int64
rnd_1_20                int64
Length: 130, dtype: object

In [91]:
data.dtypes.value_counts()

float64    118
int64       11
object       1
Name: count, dtype: int64

In [96]:
y=data.cible
X=data.drop(["cible","datdelhis_mm0", "numtecprs"], axis=1)

In [ ]:

data.to_csv("data_with_na_explicited.csv", sep=";", header=True)

In [97]:
from sklearn.model_selection import train_test_split

# X = variables explicatives (features)
# y = variable cible (target)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2,       # 20 % des données pour le test
    random_state=42,     # pour reproductibilité (comme set.seed en R)
    stratify=y
)

In [98]:
X_train.describe()

,sldcrdmms_sum_mm1,engagement_sum_mm1,top_pret_conso_mm1,nbr_pret_conso_mm1,sldcrdmms_sum_mm2,engagement_sum_mm2,top_pret_conso_mm2,nbr_pret_conso_mm2,sldcrdmms_sum_mm3,top_pret_conso_mm3,...,crtad_ag_solde_t,crtad_ag_solde_t1,crtad_ag_solde_t2,encours_par,crtad_ag_nbjde_bb,crtad_ag_nbjde_ba,crtad_ag_nbjde_bc,topcptlitig,somme_encours,rnd_1_20
count,4.315600e+04,4.315600e+04,43156.000000,43156.000000,4.309300e+04,4.309300e+04,43093.000000,43093.000000,4.301800e+04,43018.000000,...,4.320900e+04,4.320900e+04,4.320900e+04,4.320800e+04,43209.000000,43209.000000,43209.000000,43209.000000,4.320900e+04,43242.0
mean,2.888081e+05,5.587023e+04,0.201015,0.250046,2.907512e+05,5.593082e+04,0.201170,0.249623,2.903638e+05,0.200474,...,6.531809e+05,6.583670e+05,6.652917e+05,3.341192e+06,16.850101,80.454095,15.369067,0.000139,3.341115e+06,2.0
std,1.977430e+06,1.600712e+05,0.400764,0.556333,1.911278e+06,1.602908e+05,0.400879,0.554590,1.893145e+06,0.400360,...,3.075167e+06,2.987290e+06,2.992257e+06,3.112401e+07,28.744881,130.779969,27.772614,0.011783,3.112365e+07,0.0
min,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,...,-3.357450e+08,-3.214533e+08,-3.243515e+08,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,2.0
25%,1.239100e+04,5.000000e+02,0.000000,0.000000,1.245600e+04,5.000000e+02,0.000000,0.000000,1.256625e+04,0.000000,...,2.916600e+04,2.850000e+04,2.883300e+04,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,2.0
50%,4.665000e+04,1.602970e+03,0.000000,0.000000,4.676800e+04,1.600000e+03,0.000000,0.000000,4.652950e+04,0.000000,...,1.116660e+05,1.113330e+05,1.118330e+05,2.220000e+05,0.000000,9.000000,0.000000,0.000000,2.220000e+05,2.0
75%,1.693988e+05,3.565920e+04,0.000000,0.000000,1.697740e+05,3.520686e+04,0.000000,0.000000,1.697215e+05,0.000000,...,3.940000e+05,3.980000e+05,3.981660e+05,2.140122e+06,23.000000,111.000000,18.000000,0.000000,2.139749e+06,2.0
max,3.140236e+08,1.200133e+07,1.000000,7.000000,3.039003e+08,1.200018e+07,1.000000,7.000000,3.140389e+08,1.000000,...,1.976322e+08,1.496978e+08,1.536060e+08,5.581015e+09,266.000000,1321.000000,313.000000,1.000000,5.581015e+09,2.0

In [102]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency, kruskal

def cramers_v(x, y):
    """Calcule le V de Cramer entre deux variables catégorielles."""
    contingency_table = pd.crosstab(x, y)
    chi2 = chi2_contingency(contingency_table)[0]
    n = contingency_table.sum().sum()
    phi2 = chi2 / n
    r, k = contingency_table.shape
    phi2corr = max(0, phi2 - ((k-1)*(r-1))/(n-1))
    rcorr = r - ((r-1)**2)/(n-1)
    kcorr = k - ((k-1)**2)/(n-1)
    return np.sqrt(phi2corr / min((kcorr-1), (rcorr-1)))

def association_with_target(data, target):
    """Analyse la relation entre chaque variable et la cible.
    
    - Si variable catégorielle → V de Cramer
    - Si variable quantitative → test de Kruskal-Wallis
    """
    results = []

    for col in data.columns:
        if col == target:
            continue
        
        serie = data[col].dropna()
        target_serie = data[target].loc[serie.index].dropna()

        # Vérification du type
        if serie.dtype == 'object' or serie.nunique() < 10:
            # Variable catégorielle
            v = cramers_v(serie, target_serie)
            results.append({
                "Variable": col,
                "Type": "Catégorielle",
                "Test": "V de Cramer",
                "Valeur": round(v, 4),
                "p_value": np.nan
            })
        else:
            # Variable quantitative → Kruskal-Wallis
            try:
                groups = [serie[target_serie == c] for c in np.unique(target_serie)]
                stat, p = kruskal(*groups)
                results.append({
                    "Variable": col,
                    "Type": "Quantitative",
                    "Test": "Kruskal-Wallis",
                    "Valeur": round(stat, 4),
                    "p_value": round(p, 4)
                })
            except Exception as e:
                results.append({
                    "Variable": col,
                    "Type": "Quantitative",
                    "Test": "Kruskal-Wallis",
                    "Erreur": str(e)
                })

    return pd.DataFrame(results).sort_values("Type")

In [107]:
liste=['sum_mensualite_imo','montant_sum','top_pret_imo']
association_with_target(X_train[liste], y_train)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().